<!DOCTYPE html>
<html>
  <head>
    <title>Bloginator 37 000 000 000 Account Registration</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
  </head>

  <div class="container">

    <div id="banner">
      <a class="h1" href="/"><h1><b>Bloginator 37 000 000 000</b></h1></a>
      </div>
	
    <ul class="nav">
      <li class="nav3"><a class="nav" href="/">Home</a></li>
      {% if user %}
      <li class="nav"><a class="nav" href="logout">Logout</a></li>
      <li class="nav2">&nbsp;&nbsp;Signed in as {{user}}</li>
      {% else %}
      <li class="nav"><a class="nav" href="create_account">Register</a></li>
      <li class="nav"><a class="nav" href="login">Login</a></li>
      <li class="nav2">&nbsp;&nbsp;Not signed in</li>
     {% endif %}
    </ul>

</body>
<div class="feed">
    <h2>Account registration:</h2>
    <form method="POST">
      Username: <input type="text" name="username" size=42 placeholder="Enter new username">
      <p/>
      Password: <input type="password" name="password" size=42 placeholder="Enter new password">
      <p/>
      <input type="submit" name="button" value="create">
    </form>
</body>
</div>
</div>
</html>
